<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm">
    <tbody>
      <thead>
        <tr>
          <th class="text-center align-middle">#</th>
          <th class="text-left align-middle">Transaction</th>
        </tr>
      </thead>
      {{#each user.swaps}}
      <tr>
        <th class="text-center align-middle">{{id}}</th>
        <td class="text-left align-middle">
          {{lender.name}} lent {{book.title}} to {{borrower.name}}
        </td>
      </tr>
      {{/each}}
      {{log user.swaps}}
    </tbody>
  </table>
</div>